body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;

  background-color: #353436;
}

/* TODO: ? */
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 1240px) {
  .container {
    box-sizing: content-box;
    width: calc(100% - 40px);
    margin: 0 20px;
  }
}

/* *** modal *** */

.modal-wrapper {
  position: fixed;
  display: flex;
  display: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  z-index: 100;

  transition: opacity 200ms ease-in-out;
}

.modal-wrapper--show {
  opacity: 1;
}

.riservata-modal {
  position: relative;
  display: inline-block;
  margin: auto;
  background-color: #353436;
  border: 1px solid #ffffff;
}

.riservata-modal__header {
  margin: 8px;

  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.riservata-modal__close {
  position: absolute;
  top: 10px;
  right: 16px;
  width: 24px;
  height: 24px;

  background: url("img/cross.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.riservata-modal__content {
  display: flex;
  flex-direction: row;

  padding: 0 40px;
  padding-bottom: 25px;
}

.riservata-modal__section {
  width: 185px;
  margin: 0 35px;
}

.riservata-modal__section-header {
  margin: 15px 0;

  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.riservata-modal__entry {
  margin-bottom: 10px;
}

.riservata-modal__checkbox {
  margin-bottom: 10px;
  margin-top: 3px;
}

.riservata-modal__pass-dimenticata {
  margin-top: 10px;
}

.riservata-modal__form {
  display: flex;
  flex-direction: column;
}

/* *** header *** */

.header {
  background-color: #353436;
}

.header__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header__top-part {
  display: flex;
  flex-direction: row-reverse;
}

.header__bottom-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: auto;
  margin-bottom: 23px;
}

.header__nav {
  align-self: flex-end;
}

.area-riservata-button {
  display: inline-block;
  padding: 2px 20px 0 0;

  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  background-image: url("img/lock.png");
  background-repeat: no-repeat;
  /* FIXME: wrong position */
  background-position: center right;

  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

/* *** home *** */

.home {
  /* FIXME: wrong bg size and pos */
  background-color: #9a998e;
  background-image: url("img/main-bg-1.jpeg");
  background-position: 38% 100%;
  background-size: cover;
  height: 670px;

  /* prevent margin collapsing */
  overflow: hidden;
}

.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home__slogan {
  position: absolute;
  display: inline-block;
  align-self: flex-end;
  right: 0;
  max-width: 40%;

  /* FIXME: hack */
  margin: -15px -5000px auto auto;
  padding-right: 5000px;
  padding-left: 25px;

  background-color: rgba(255, 255, 255, 0.85);
}

.home__slogan-header {
  margin: 20px 0;
  margin-right: 10px;

  font-size: 30px;
  color: #020202;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  text-align: right;
  text-transform: uppercase;
}

.home__slogan-text {
  margin: 20px 0;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.home__slider-controls {
  position: absolute;
  align-self: center;
  bottom: 40px;
}

/* *** posts drop-up panel *** */

.post-dropup {
  position: absolute;
  display: block;
  top: calc(100% - 30px);
  
  transition: top 500ms ease-in-out;

}
.post-dropup__switch {
  display: block;
  width: 88px;
  height: 30px;
  margin: 0 auto;

  background-color: #fff;
  background-image: url("img/arrow-up.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.post-dropup--show .post-dropup__switch {
  background-image: url("img/arrow-down.png");
}

.post-dropup__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.post-dropup__section {
  flex-grow: 1;
}

.post {
  position: relative;
  padding: 12px 15px 40px 15px;

  background-color: #fff;
  color: #000;
}

.post__header {
  margin: 0;

  font-size: 28px;
  line-height: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.post__text {
  margin: 0;
  margin-top: 8px;

  font-size: 16px;
  line-height: 25px;
}

.post__more {
  position: absolute;
  bottom: 10px;
  right: 20px;

  font-size: 18px;
  line-height: 1;
  color: inherit;

  text-decoration: none;
}

.post__more:hover {
  text-decoration: underline;
}

.post-dropup__section:nth-child(1) {
  background-color: #e2d1a6;
}

.post-dropup__section:nth-child(1) .post__more {
  color: #fff;
}

.post-dropup__section:nth-child(3) {
  background-color: #000;
  color: #fff;
}

.post-dropup__section:nth-child(3) .post__text {
  color: #fefefe;
}

/* *** footer *** */

.footer {
  background-color: #353436;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__top-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 5px;
}

.footer__section {
  width: 190px;
  margin: 0 30px;
  margin-top: 20px;

  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 300;
}

.footer__section-header {
  margin-bottom: 20px;
  
  font-size: 14px;
  line-height: 1;
  color: #fefefe;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__newsletter {
  box-sizing: border-box;
  padding-right: 5px;

}

.footer__bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;

  box-sizing: border-box;
  min-height: 50px;
  padding-bottom: 15px;
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: auto;

  list-style: none;
  font-size: 12px;
  line-height: 1;
}

.footer__contacts-item {
  margin-right: 15px;
  white-space: pre;
}

.footer__soc {
  margin-bottom: -2px;

  /* FIXME: fixed value, depends on lang block width */
  margin-right: 75px;
}

/* *** soc *** */

.soc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.soc__item {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 3px;

  background-repeat: no-repeat;
  background-position: center;

  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.soc__item:hover {
  opacity: 0.75;
}

.soc__item--facebook {
  background-image: url("img/facebook.png");
}

.soc__item--instagram {
  background-image: url("img/instagram.png");
}

.soc__item--pinterest {
  background-image: url("img/pinterest.png");
}

/* *** lang *** */

.lang {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;

  list-style: none;

  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}

.lang__item {
  padding-left: 9px;
  margin-left: 9px;
  border-left: 1px solid #fff;
}

.lang__item:first-of-type {
  margin-left: 0px;
  border-left: none;
}

.lang__link {
  color: #fff;
  text-decoration: none;
  transition: color 100ms ease-in-out;
}

.lang__link:hover {
  color: #e2d1a6;
}

/* *** newsletter form *** */

.newsletter-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 5px;
}

.newsletter-form__email-input {
  margin-top: 12px;
}

.newsletter-form__data-check {
  margin: 10px 0;
}

/* ********************************** */

/* *** nav *** */
/* FIXME: font weight jumps */

.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  background-color: #353436;
  list-style: none;

  font-kerning: none;
}

.nav__item {
  position: relative;
  margin-left: 25px;
  padding: 20px 0;

  font-size: 18px;
  line-height: 1;
}

.nav__link {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__link:hover {
  color: #e2d1a6;
  font-weight: 600;
}

.nav__link--active {
  color: #e2d1a6;
  font-weight: 700;
  cursor: default;
}

.nav__link--active:hover {
  font-weight: 700;
}

/* sub-menu */
.nav__item .nav__list {
  display: none;
  padding: 8px;
}

/* show sub-menu on hover or focus */
/* FIXME: sub-menu is not accesible from keyboard */
.nav__item:hover .nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 58px;
  left: -16px;
}

/* sub-item */
.nav__item .nav__item {
  margin-left: 0;
  padding: 7px 8px 6px 8px;

  font-size: 16px;
  border-top: solid 1px #fff;
}

.nav__item .nav__item:first-of-type {
  border-top: none;
}

/* *** checkbox *** */

.checkbox {
  color: #b5b4b4;
  font-size: 10px;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.checkbox__input {
  /* FIXME: firefox doesnt resize checkbox */
  width: 8px;
  height: 8px;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  margin-left: 5px;
}

/* fake box */
.checkbox__text::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 2px;
  left: -16px;

  background-color: #fff;
  cursor: pointer;
}

/* fake check */
.checkbox__text::after {
  content: none;
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 4px;
  left: -14px;

  background-color: #000;
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__text::after {
  content: "";
}

/* focus styles */
.checkbox__input:focus + .checkbox__text::before {
  background-color: #e2d1a6;
}

/* *** text entries *** */

.text-entry {
  padding: 0 7px;

  background: none;
  border: none;
  background-color: #ffffff;

  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
}

.text-entry::placeholder {
  color: #8c8c8c;
}

/* *** button *** */

.button {
  display: inline-block;
  padding: 7px 14px;

  background: none;
  border: none;
  background-color: #000;
  cursor: pointer;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #fff;

  text-transform: uppercase;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.button:hover {
  background-color: #e2d1a6;
  color: #000;
}

.text-button {
  font-size: 12px;
  line-height: 1;
  color: #b5b4b4;

  text-decoration: none;
  transition: color 100ms ease-in-out;
}

.text-button:hover {
  color: #e2d1a6;
}