body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;

  background-color: #353436;
}

/* ? */
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* *** text entries *** */

.text-entry {
  padding: 0 7px;

  background: none;
  border: none;
  background-color: #ffffff;

  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
}

.text-entry::placeholder {
  color: #8c8c8c;
}

/* *** button *** */

.button {
  display: inline-block;
  padding: 7px 14px;

  background: none;
  border: none;
  background-color: #000;
  cursor: pointer;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #fff;

  text-transform: uppercase;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.button:hover {
  background-color: #e2d1a6;
  color: #000;
}